nav ul a, nav .brand-logo {
	max-height: 64px;
  color: #444;
}

@media screen and (max-width : 620px) {
	.img-res {
		max-height: 50px;
	}
}

.button-collapse {
  color: #26a69a;
}

.icon-vec {
	margin: -15px 0 0 0;
	padding-bottom: 0;
}

p {
  line-height: 2rem;
}

.items {
	margin-top: -10px;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer.page-footer {
  margin: 0;
}

.arrowDown {
  color: black;
}

.content-product {
  height: 630px;
  margin-bottom: 50px;
}

.made:hover {
  text-decoration: underline;
}

.slider {
  width: 100%;
}

/*.text-slider {
  color: #333;
  margin-top: 45px;
}*/

.vector {
  transition: all .7s ease-in-out;
}

.vector:hover {
  transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  transition: transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
}

.title-gallery {
  margin-top: 70px;
}

.card-edit {
  width: 31%;
  height: 31%;
  display: inline-block;
  margin: 2% 1% 5% 1%;
}

.img-card {
  padding: 10px;
}

#element {
  text-align: center;
}

.position0 {
  background: red;
}

.position1 {
    background: orange;
}

.position2 {
    background: yellow;
}

.position3 {
  background: #DAFF33;
}

.position4 {
  background: #9FFF33;
}

.position5 {
  background: #26AF1B;
}

.position6 {
  background: #0DED7A;
}

.position7 {
  background: #1FF3CD;
}

.position8 {
  background: #1FBCF3;
}

.position9 {
  background: #1F86F3;
}

.position10 {
  background: #1F4CF3;
}

.position11 {
  background: #0C0672;
}

.position12 {
  background: #805BF1;
}

.position13 {
  background: #733ABC;
}

.position14 {
  background: #8F3ABC;
}

.position15 {
  background: #D312F1;
}

.position16 {
  background: #F112DD;
}

.position17 {
  background: #F112A0;
}