nav ul a, nav .brand-logo {
	max-height: 64px;
  color: #444;
}

.button-collapse {
  color: #26a69a;
}


.icon-vec {
	margin: -15px 0 0 0;
	padding-bottom: 0;
}

p {
  line-height: 2rem;
}

.items {
	margin-top: -10px;
}



footer.page-footer {
  margin: 0;
}

.arrowDown {
  color: black;
}



.made:hover {
  text-decoration: underline;
}

.slider {
  width: 100%;
}

.vector {
  transition: all .7s ease-in-out;
}

.vector:hover {
  transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  transition: transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
}

.title-gallery {
  margin-top: 70px;
}

.card{
  width: 50px;
  display: inline-block;

}

.element-card{
  width: 20%;
  height: 30%;
}


.card-edit {
    width: 31%;
    height: 41%;
    display: inline-block;
    margin: 2% 1% 5% 1%;
    vertical-align: top;
    height: 350px;
}


.card .card-image {
    position: absolute;
    bottom: 0;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    vertical-align: top;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
}

.img-card{
  width: 30%;
}


#element {
  text-align: center;
  color: black;
  width: 25px;
  height: 40px;
  padding-bottom: 5px;

}

.waves-effect{
  color: black;
}

.position0 {
  background: red;
}

.position1 {
  background: orange;
}

.position2 {
  background: yellow;
}

.position3 {
  background: #DAFF33;
}

.position4 {
  background: #9FFF33;
}

.position5 {
  background: #26AF1B;
}

.position6 {
  background: #0DED7A;
}

.position7 {
  background: #1FF3CD;
}

.position8 {
  background: #1FBCF3;
}

.position9 {
  background: #1F86F3;
}

.position10 {
  background: #1F4CF3;
}

.position11 {
  background: #0C0672;
}

.position12 {
  background: #805BF1;
}

.position13 {
  background: #733ABC;
}

.position14 {
  background: #8F3ABC;
}

.position15 {
  background: #D312F1;
}

.position16 {
  background: #F112DD;
}

.position17 {
  background: #F112A0;
}
/*
 { box-sizing: border-box; padding:0; margin:0; }

body {
 
  color:#222;
  padding: 20px;
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
*/
.gasElement{
  color:red;
}

.wrapper {
  width:1050px;
  margin:30px auto;
  position:relative;
} 

.main:after {
  clear:both;
  content:"";
  display:table;
}
 
.main li {
  width:56px;
  height:70px;
  border:1px solid rgba(0,0,0,0.3);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);
  position:relative;
  font-size:18px;
  float:left;
  padding:0 2px;
  margin:1px;
  cursor:pointer;
  padding-top:20px;
  overflow:hidden;
  transition:all .2s ease-in;
  text-shadow:0 1px 0 rgba(255,255,255,0.2);
}

.main li span {
  display:block;
  line-height:1;
  font-size:9px;
  color:black; 
  padding-top:7px;
}

.main .empty {
  border:none; 
  box-shadow:none;
  cursor:default;
}

.deactivate {
  opacity:0.5;
  -webkit-filter:grayscale(70%);
  filter:grayscale(70%);
}

.main li:before,
.main li:after {
  content:attr(data-pos);
  position:absolute;
  top:3px;
  left:3px;
  color:black;
  font-size:8px;
  line-height:1;
}

.main li:after {
  content:attr(data-nb);
  left:auto;
  right:3px;
}

.main li:hover {
  transform:scale(2);
  z-index:100;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
} 

.main .empty:hover {
  box-shadow:none;
  transform:none;
}

.type-0 { background:#fff; }
.type-1 { background:lightblue; }
.type-2 { background:#F112DD; }
.type-3 { background:red; }
.type-4 { background:orange; }
.type-5 { background:#3bd93b; }
.type-6 { background:yellow; }
.type-7 { background:#4CAFFA; }
.type-8 { background:#ffaa88; }
.type-9 { background:#ddaacc; }

.cat-0 { color:#222; }
.cat-1 { color:#0000dc; }
.cat-2 { color:#b10601; }
.cat-3 { color:#555; }

.legend {
  position:absolute;
  top:0;
  left:20%;
  padding:10px;
  font-size:11px;
  background:#f1edec;
  border:1px solid rgba(0,0,0,0.2);
  border-radius:15px;
  box-shadow:
    inset 0 1px 1px white,
    inset 0 -5px 3px #dddcdb,
    0 0 10px rgba(0,0,0,0.2);
}

.legend:after {
  content:"";
  display:table;
  clear:table;
}

.legend ul { float:left; list-style: none; }

.legend .list-2 {
  margin-left:40px; 
  width:200px;
}

.legend .list-1 li { margin:7px 0; }
.legend .list-1 li:first-of-type { margin-top: 2px; }

.legend .list-1 span {
  border:1px solid black; 
  display:inline-block;
  padding:3px;
  width:20px;
  text-align:center;
  height:20px; 
  margin-right:5px;
}

.legend .list-2 li {
  margin:2px;
  padding:3px;
  float:left; 
  border:1px solid rgba(0,0,0,0.2);
  width:48%;
  cursor:pointer;
}