<section class="container" ng-controller="bandsController">
  <div class="row">
    <h4 class="title-gallery center black-text">BANDS</h4>
  </div>

  <div class="row">
        <div class="input-field col s12">
          <input placeholder="" id="bandName"  type="search" ng-model="nameFilter" class="validate"required>
          <label for="band_name">Search band</label>
  </div>


<!-- 
  <div class="row">
    <a class="waves-effect waves-light btn-large" ng-click="myFilter={decade:''}">ALL DECADES</a>
    <a class="waves-effect waves-light btn-large" ng-click="myFilter={decade: '1960'}">60's</a>
    <a class="waves-effect waves-light btn-large" ng-click="myFilter={decade: '1970'}">70's</a>
    <a class="waves-effect waves-light btn-large" ng-click="myFilter={decade: '1980'}">80's</a>
    <a class="waves-effect waves-light btn-large" ng-click="myFilter={decade: '1990'}">90's</a>

  </div> -->


  <div class="row">
    <div ng-repeat="band in bands | filter: {name: nameFilter}" class="card-edit card">

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{band.name}}<i class="material-icons right">more_vert</i></span>
        <div><a href="#/bands/name/{{band.name}}">View all profile</a></div>
      </div>
      <div class="card-image waves-effect waves-block waves-light">
        <img class="img-card activator" ng-src="{{band.image}}" alt="{{band.image}}" height="200px">
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{band.name}}<i class="material-icons right">close</i></span>
        <h6>Famous Songs:</h6>
        <span ng-repeat="bandSongs in band.songs"><ul><li>- {{bandSongs}}</li></ul></span>
        
      </div>
    </div>
  </div>

</section>





