<section class="container" ng-controller="tableController">
  <div class="row">
    <h4 class="title-gallery center black-text">Elements</h4>
  </div>


  <div class="row">
        <div class="input-field col s12">
          <input placeholder="" id="searchBox"  type="search" ng-model="elementFilter" class="validate"required>
          <label for="element_small">Search element</label>
  </div>


  <div class="row">

    <div ng-repeat="element in elements | filter: {small: elementFilter}" class="card-edit card">


      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{element.small}}<i class="material-icons right">more_vert</i></span>
        <div><a href="#/table/name/{{element.name}}">View all properties</a></div>
        <h6>{{element.name}}</h6>
      </div>

      <div class="card-image waves-effect waves-block waves-light">
     
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{element.number}} {{element.name}}<i class="material-icons right">close</i></span>
        <h6>Molar weight: {{element.molar}}</h6>
        <h6>Electrons: {{element.electrons}}</h6>
        
        
      </div>
    </div>
  </div>


</section>