<section class="slider">
  <ul class="slides">
    <li>
    	<img src="img/back1.jpg" title="Cubes" alt="Cubes" />
    	<!--<div class="caption center-align">
        <h3 class="text-slider">Lorem ipsum Eiusmod dolor dolore reprehenderit est.</h3>
      </div>-->
    </li>
    <li>
      <img src="img/back2.jpg" title="Esferas" alt="Esferas" />
    	<!--<div class="caption right-align">
        <h3 class="text-slider">Lorem ipsum Nulla non id.</h3>
      </div>-->
    </li>
    <li>
      <img src="img/back3.png" title="Probetas" alt="Probetas" />
    	<!--<div class="caption left-align">
        <h3 class="text-slider">Lorem ipsum Ut ullamco Ut labore reprehenderit et.</h3>
      </div>-->
    </li>
    <li>
      <img src="img/back4.jpg" title="Matraz" alt="Matraz" />
    	<!--<div class="caption center-align">
        <h3 class="text-slider">Lorem ipsum Quis enim cupidatat adipisicing dolor Ut.</h3>
      </div>-->
    </li>
  </ul>
</section>



<div class="parallax-container">
  <div class="parallax"><img src="img/background.jpg"></div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		(function($){
		  $(function(){
		    $('.button-collapse').sideNav();
		    $('.parallax').parallax();
		  }); // end of document ready
		})(jQuery);
	});

	$(document).ready(function() {
		$('.slider').slider({full_width: true});
	});
</script>


