<section class="slider">
  <ul class="slides">
    <li>
    	<img src="img/back2.jpg" title="Cubes" alt="Cubes" />
    	
    </li>
    <li>
      <img src="img/back3.png" title="Esferas" alt="Esferas" />
    	
    </li>
    <li>
      <img src="img/back4.jpg" title="Probetas" alt="Probetas" />
    	
    </li>
    <li>
      <img src="img/back1.jpg" title="Matraz" alt="Matraz" />
    	
    </li>
  </ul>
</section>



<div class="parallax-container">
  <div class="parallax"><img src="img/background.jpg"></div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		(function($){
		  $(function(){
		    $('.button-collapse').sideNav();
		    $('.parallax').parallax();
		  }); // end of document ready
		})(jQuery);
	});

	$(document).ready(function() {
		$('.slider').slider({full_width: true});
	});
</script>


