<section class="container" ng-controller="tableController">
  <div class="row">
    <h4 class="title-gallery center black-text">Periodic table of elements</h4>
  </div>

  <div class="row">
        <div class="input-field col s12">
        
          <input placeholder="" id="element"  type="search" ng-model="elementFilter" class="validate"required>
          <label for="element_name">Search element</label>
          </div>
  </div>

  <div class="row">
  <div class="col s1">
    <div ng-repeat="element in elements | filter: {name: elementFilter}" id="element" class="position{{element.position}}">
    <a class="waves-effect waves-teal">{{element.small}}</a>
    </div>
  </div>
   
  </div>

</section>





